@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
*{font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box; color: #212121; outline: none; }
html{font-size: 13px;}
body{margin: 0; }
a{text-decoration: none; }
ul,ol{list-style: none; margin: 0; }
dl,dt,dd,p,li{margin: 0;}
/*헤더 - 로고, 검색영역 s*/
header {display: flex; justify-content: space-between; height: 66px; border-bottom: 1px solid #e6e6e6; align-items: center;padding:0 15px ;}
header .logo_link img{height: 34px;}
header>div i{font-size: 25px;}
header .left a:first-of-type{margin-right: 10px;}
header .right a:first-of-type{margin-left: 10px;}
/*헤더 - 로고, 검색영역 E*/

/*main-페이지 위치 S*/
.page_location{ font-size: 20px; font-weight: 700; text-align:center;  border-bottom:1px solid #e7e7e7;  position: relative; height: 50px; line-height: 49px; }
.page_location a i {font-size:2rem; display: block; height: 49px; width: 44px; line-height: 49px; text-align: center; }
.page_location a { display: block; width: 44px; height: 49px; line-height: 49px; position: absolute; left: 0; top: 0; }


/*main-페이지 위치 E*/

/*main_ 검색창 S*/
#search { padding: 20px 15px 0; }
.search-input { display: flex; justify-content: space-between; border: 1px solid #e5e5e5; height: 40px; border-radius: 3px; overflow: hidden; }
.search-input button { width: 45px; border:0; background: #fff; font-size: 1.67rem; cursor: pointer; }
.search-input input[type='text'] { flex-grow: 1; width: 0; border: 0; padding: 0 10px; height: 38px; }
/*main _ 검색창 E*/

/*main-질문탭 S*/
#tab{margin-left: 15px;overflow: hidden;display:flex;width: 100%; height: 100%;transition-property: transform; border-bottom: 1px solid #e5e5e5;;}
#tab a{width: auto;padding: 17px 20px;color: #212121;font-size: 16px;font-weight: 500;position: relative;}
#tab a.on { font-weight: 600; color: #8769f0; }
#tab .on:after { content: ''; display: block; height: 4px; background: #8769f0; left: 0; width: 100%; bottom: -1px; position: absolute; }

/*main-질문탭 E*/

/*main-건수 S*/
main>h1{padding: 0 15px 10px;line-height:1;color: #212121;font-size:18px;font-weight: 500}
.numbers{font-weight: 600;}
/*main-건수 E*/

/*main-리스트 S*/
.list{word-break: break-all; border-top: 1px solid #e7e7e7;padding: 20px 15px;color: #212121;font-size: 14px;}
.list_btn button{display: block;background: #8769f0; color: #ffffff;text-align: center;   font-size: 16px;font-weight: 500;height: 45px;cursor: pointer;letter-spacing: 0;    width: 100%;border: 0;    border-radius: 3px;}
/*main-리스트 E*/

/*footer-S*/
footer{background-color: #f9f9f9;padding: 25px 0 80px;margin-top: 25px;}
.logo2{display: block;width: 79px; margin:0 auto;margin-bottom: 12px;  }
.logo2 img { height: 27px; }
.phone{border: 2px solid #2a2a2a;border-radius: 20px;text-align: center;display: block;height: 35px;line-height: 35px;font-size: 20px;color: #2a2a2a;font-weight: 800;width: 190px;margin: 0 auto 7px;}
.bank_info{text-align: center;font-size: 12px;color: #2a2a2a;}
.bank_info span{ font-size: 13px;font-weight: 600;}
.info_link{text-align:center ; display: block; padding-right: 20px;    font-weight: 600;font-size: 12px;color: #878787;}
.info_link a{size: 15px;}
.link{text-align: center;}
.link a:first-of-type{border-left: 0;}
.link a{padding: 0 11px;border-left: 1px solid #878787;    color: #878787;    font-size: 11px;}



/*footer-E*/


